h1{
    color: #ed47ef;
    background-color: beige;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-decoration: overline underline;
}

.caja{
    padding: 15px;
    margin: auto;
    width: 70%;
    background-color: #219ebc;
    border-radius: 5px;
    color: white;
}

.texto{
    text-align: justify;
    /*direction: rtl;
    text-decoration: underline;*/
    text-indent: 30px;
    line-height: 3; /*Lo que usan todos los navegadores es de 1.2*/
    white-space: normal;
    text-shadow: 1px 2px 2px gray;
}